:root {
	--yellow: #F6AE2D;
	--blue: #275DAD;
	--blue_light: #A0B9DB;
	--gray: #a7a7a7;
}

p {
	color: var(--gray);
}

em {
	font-weight: bolder;
	font-style: normal;
}

h1 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: .25em;
}

h2,
h3 {
	font-weight: 700;
}

* {
	box-sizing: content-box;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0px;
}

.fullscreen {
	width: 100%;
	margin: 0;
	height: 100%;
}

.container {
	position: relative;
}

.nav {
	position: fixed;
	width: 100%;
	height: 2em;
	padding-top: 1em;
	background-color: rgba(255, 255, 255, 0);
	z-index: 10;
	transition: .5s;

	letter-spacing: .15em;
	font-weight: bolder;
	font-size: 0.75em;
}

.nav a {
	margin: 2em;
	text-decoration: none;
	font-weight: bolder;
	color: var(--yellow);
}

.nav a:hover {
	transition: 0.5s;
	transition-timing-function: ease-in-out;
	opacity: 0.5;
}

.nav .left{
	width: 500px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center p {
	max-width: 1000px;
}

.left {
	position: absolute;
	left: 0%;
}

.right {
	position: absolute;
	right: 0%;
}

.center_text {
	text-align: center;
}

h1 {
	margin: 0px;
}

.main_button {
	text-decoration: none;
	color: white;
	background-color: var(--blue);
	padding: .5em 1.5em;
	display: inline-block;
	border-radius: 2em;


	letter-spacing: .15em;
	font-weight: bolder;
	font-size: .75em;
}

.main_button:hover {
	color: var(--gray);
	transition: 0.5s;
	transition-timing-function: ease-in-out;
}

.row {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	max-width: 2000px;
}

.sidemargs {
	margin-left: 10%;
	margin-right: 10%;
}

.col {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 2%;
}

.col05 {
	-webkit-flex: .5;
	-ms-flex: .5;
	flex: .5;
	margin-right: 2%;
}


.lastcol {
	margin-right: 0px;
}

@media only screen and (max-width: 1000px) {
	.row {
		flex-wrap: wrap;
	}

	.col {
		flex-basis: 100%;
		margin-left: 10%;
		margin-right: 10%;
		display: block;
		min-height: 700px;
	}

	.col05 {
		flex-basis: 100%;
		margin-left: 10%;
		margin-right: 10%;
		min-height: 700px;
	}

	.vert {
		position: static;
	}
}

.feature_prev {
	max-width: 700px;
}

footer {
	text-align: center;
	border-top: solid 1px #e3e3e3;
	margin-bottom: 1em;
	padding-top: 2em;
}

.intro {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../imgs/intro_bg.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.col img {
	width: 100%;
}

.p_inv {
	color: white;
}

.black_box {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 1em;
	color: white;
}

.black_box p{
	color: white;
}


.vert {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.feature_prev {
	display: block;
	height: 700px;
}

.feature_prev img {
	width: 400px;
}

.feature_prev video {
	margin-top: -10px;
	margin-left: 1px;
	width: 255px;
}

.feature_prev2 {
	display: block;
	height: 700px;
}

.feature_prev2 img {
	width: 700px;
}

.feature_prev2 video {
	margin-top: -8px;
	margin-left: 1px;
	width: 460px;
}

.rowclear {
	height: inherit;
}

.styleguide {
	width: 70%;
}

.fullscreen.coordinator {
	background-image: url("../imgs/coordinator_bg.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fullscreen.volunteer {
	background-image: url("../imgs/volunteer_bg.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fullscreen.process {
	background-image: url("../imgs/process_bg.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fullscreen.ref {
	background-image: url("../imgs/references.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.references{
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2em;
	margin: 2em;
}

a{
	color: var(--yellow);
	transition: 0.2s;
	text-decoration: none;
}

a:hover{
	opacity: 0.5;
}

.vertmargs {
	margin-top: 3em;
}